use flake

if [ -f .secrets/dotenv_private_key_development ]; then
  export DOTENV_PRIVATE_KEY_DEVELOPMENT="$(cat .secrets/dotenv_private_key_development)"
else
  echo "Missing .secrets/dotenv_private_key_development"
fi

if [ -f .secrets/dotenv_private_key_production ]; then
  export DOTENV_PRIVATE_KEY_PRODUCTION="$(cat .secrets/dotenv_private_key_production)"
else
  echo "Missing .secrets/dotenv_private_key_production"
fi
