.page {
  min-block-size: 100svb;
  display: grid;
  place-content: center;
  font-family: var(--font-geist-sans);
  main {
    max-inline-size: min(900px, 90%);
    margin-inline: auto;
    display: grid;
    gap: 3rem;
    .logo {
      inline-size: 100px;
      block-size: auto;
    }
    h1 {
      letter-spacing: -0.03em;
      text-wrap: pretty;
    }
    div {
      display: grid;
      gap: 1.5rem;
    }

    p {
      letter-spacing: 0.02em;
      font-size: 0.9rem;
      line-height: 1.4;
      color: #909090;
      text-box: trim-both cap alphabetic;
      span {
        font-weight: 600;
        color: #000000;
      }
    }
  }
}
